<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>EECS 341 Authentication Calendar</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel='stylesheet' href='/css/fullcalendar.css' />
    <script src='/js/jquery.min.js'></script>
    <script src='/js/moment.js'></script>
    <script src='/js/fullcalendar.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/bootbox.min.js'></script>
    <!-- datetime Picker -->
	<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script>
        $(document).ready(function() {
        
        // page is now ready, initialize the calendar...
        
        $('#calendar').fullCalendar({
                events : { events : <%- JSON.stringify(results) %> },
                eventClick: function(calEvent, jsEvent, view) {
                    // show event data modal
                    bootbox.dialog({
                        title: calEvent.title,
                        message: '<p><strong>Start Date:</strong> ' + moment(calEvent.start).format('MMMM Do YYYY, h:mm a') + '</p>' +
                                 '<p><strong>End Date:</strong> ' + moment(calEvent.end).format('MMMM Do YYYY, h:mm a') + '</p>'  +
                                 '<br>' +
                                 '<p>' + calEvent.description + '</p>',
                        buttons: {
                            invite: {
                                label: 'Invite',
                                className: 'btn-info',
                                callback: function () {
                                    window.location.replace('/calendar/invite?event_id=' + calEvent.id);
                                    // $.get('/calendar/invite', {event_id : calEvent.id});
                                    
                                    // // open edit modal
                                    // bootbox.dialog({
                                    //     title: calEvent.title + ' - Invite',
                                    //     message: '<form action="/calendar/invite" method="post">' +
                                    //                 '<input type="hidden" name="event_id" value="' + calEvent.id + '"><br>' +
                                    //                 '<strong>Enter Username to invite:</strong><br>' + 
                                    //                 '<input type="text" name="username" value="" class="form-control"><br>' +
                                    //                 '<p align="right"><input type="submit" class="btn btn-info" value="Add"/></p>' + 
                                    //                 '<strong>Invited Users:</strong><Br>' +
                                    //                 '<input type="checkbox">' + calEvent.description + '<br>' +
                                    //                 '<input type="submit" class="btn btn-default" value="Save"/>' +
                                    //              '</form>',
                                    // });
                                     
                                    // flatpickr(".flatpickr", {
                                    //     enableTime: true
                                    // });   
                                }
                            },
                            edit: {
                                label: 'Edit',
                                className: 'btn-primary',
                                callback: function () {
                                    
                                    // open edit modal
                                    bootbox.dialog({
                                        title: calEvent.title + ' - Edit',
                                        message: '<form action="/calendar/editevent" method="post">' +
                                                    '<input type="hidden" name="event_id" value="' + calEvent.id + '"><br>' +
                                                    '<strong>Title</strong><br><input name="title" type="text" class="form-control" value="'+ calEvent.title +'"><br>' + 
                                                    '<strong>Start Date: </strong>' +
                                                    '<input class="flatpickr" type="text" name="start_time" value="' + moment(calEvent.start).format('YYYY-MM-DD HH:mm') + '"><br>' +
                                                    '<strong>End Date: </strong>' +
                                                    '<input class="flatpickr" type="text" name="end_time" value="' + moment(calEvent.end).format('YYYY-MM-DD HH:mm') +'"><br>' +
                                                    '<strong>Description: </strong>' +
                                                    '<textarea name="description" rows="5">' + calEvent.description + '</textarea><br>' +
                                                    '<input type="submit" class="btn btn-default" value="Save"/>' +
                                                 '</form>',
                                    });
                                     
                                    flatpickr(".flatpickr", {
                                        enableTime: true
                                    });   
                                }
                            },
                            del: {
                                label: 'Delete',
                                className: 'btn-danger',
                                callback: function () {
                                    var form = $('<form action="/calendar/deleteevent" method="post">' +
                                      '<input type="text" name="event_id" value="' + calEvent.id + '" />' +
                                      '</form>');
                                    $('body').append(form);
                                    form.submit();
                                }
                            }
                        }
                    });
                }
        });
        
    }); 
    </script> 
    
	<style>
		body 		{ padding-top:10px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
<div class="page-header text-center">
    <h1><span class="fa fa-anchor"></span> My calendar</h1>
    <p>Logged in as <%= user.username %> (Employee # <%= user.user_id %>).</p>
    <p align="center"><a class="btn btn-default btn-sm" href="/profile">Profile</a>
    <a class="btn btn-default btn-sm" href="/profile/info">Edit Employee Info</a> <a href="/logout" class="btn btn-default btn-sm">Logout</a></p>
</div>
	<div id='calendar'></div>
    <br>
    <p align="right"><a class="btn btn-default" href="/calendar/add">Add Event</a></p>
</div>
</body>
</html>
