<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
	<title>EECS 341 Authentication Calendar</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	<link rel='stylesheet' href='/css/fullcalendar.css' />
    <script src='/js/jquery.min.js'></script>
    <script src='/js/moment.js'></script>
    <script src='/js/fullcalendar.min.js'></script>
    <script src='/js/bootstrap.min.js'></script>
    <script src='/js/bootbox.min.js'></script>
    <script>
        $(document).ready(function() {
    
        // page is now ready, initialize the calendar...
        
        $('#calendar').fullCalendar({
                events : { events : <%- JSON.stringify(results) %> },
                eventClick: function(calEvent, jsEvent, view) {
                    // show event data modal
                    bootbox.confirm({
                        title: calEvent.title,
                        message: '<p><strong>Start Date:</strong> ' + moment(calEvent.start).format('MMMM Do YYYY, h:mm a') + '</p>' +
                                 '<p><strong>End Date:</strong> ' + moment(calEvent.end).format('MMMM Do YYYY, h:mm a') + '</p>'  +
                                 '<br>' +
                                 '<p>' + calEvent.description + '</p>',
                        buttons: {
                            confirm: {
                                label: 'Edit',
                                className: 'btn-default'
                            },
                            cancel: {
                                label: 'Close',
                                className: 'btn-default'
                            }
                        },
                        callback: function (result) {
                            if(result){
                                console.log('Edit');
                                // open edit modal
                                // TODO
                            }
                            else{
                                // closes this modal
                            }
                        }
                    });
                }
        });
        
    }); 
    </script> 
    
	<style>
		body 		{ padding-top:80px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">
    <a class="btn btn-default" href="/calendar/add">Add Event</a>
	<div id='calendar'></div>
</div>
</body>
</html>
